{{#if user}}
{{else}}
    <div class="card">
        <h5 class="card-header">BlogNode informa: </h5>
    <div class="card-body">
        <h5 class="card-title">Bem vindo ao BlogNode</h5>
        <p class="card-text">Este é um simples blog criado em node.js. Crie uma conta para ficar por dentro das postagens.</p>
        <a href="/usuarios/registrar" class="btn btn-primary">Crie uma conta</a>
    </div>
    </div>
    <hr class="mt-4">
{{/if}}
<h2>Postagens recentes: </h2>
{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/1/{{slug}}" class="btn btn-success">Leia mais</a>
            <hr>
            <small>Categoria: <a href="/categorias/{{categoria.slug}}">{{categoria.nome}}</a></small><br>
            <small>Data: {{data}}</small>
        </div>
    </div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}